body{
    font-family: po;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 500px;
}

nav > .nav > a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    padding-right: 20px;
    font-size: 15px;
}

nav > .nav > a, .header > p{
    color: white;
}
a:hover {
    background-color: #d82929;
  }

#sectionHeader{
    background-image: url("../images/moving\ 1.png");
    background-size: 100%;
    height: 700px;
}

.header > h2{
    color: #FAFF00;
    width: 700px;
    font-size: 60px;
    padding-left: 60px;
}

.header > p{
    width: 550px;
    padding-left: 60px;
    font-size: 35px;
}
.button{
    background-color: black;
    color: #FAFF00;
}
.sect1{
    display: flex;
    padding-top: 40px;
}
.hr{
    
}
.image1{
    height: 600px;
}
.hustle{
    padding-left: 100px;
    padding-right: 350px;
    padding-top: 200px;
}
.movers > img{
    width: 400px;
}

.social{
    width: 20px;
    height: 20px;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}
hr{
    width: 780px;
}
footer > h3{
    font-size: 40px;
    padding-left: 240px;
}
footer > div > span > img{
    height: 25px;
    width: 25px;
    padding-top: 20px;
    padding-right: 5px;
}
footer > div{
    display: flex;
    padding-left: 250px;
}

th, tr{
    padding-right: 70px;
}
tr{
    padding-bottom: 10px;
}
.foot{
    color: #FAFF00;
}
footer > div > span{
    padding-right: 100px;
}